export class Clock extends React.Component<{}, State> {

  private handleHourClick = ({ target: { value } }: any) => {
    this.time.setHourType(value)
  }

  private isSelectedHourType = (hourType: HourType): boolean =>
    hourType === this.state.hourType

  private update = (_: unknown, time: TimeEvent): void => {
    this.setState(time)
  }

}
